// hero
.title-hero {
    line-height: 2ch;
}

// benefit
.title-benefit {
    line-height: 2ch;
}

// feature
.title-feature {
    line-height: 1.9ch;
}

// howToWork
.title-howToWork {
    line-height: 2ch;
}

// cta
.title-cta {
    line-height: 1.9ch;
}

//footer
.menus-footer p:not(:first-child),
.medsos-footer i {
    cursor: pointer;
}